body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('background.jpg') no-repeat center center fixed;
    background-size: cover;
}

.container {
    background: rgba(255, 255, 255, 0.85);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 86%;
    max-width: 1200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}


h3 {
    color: #555;
    font-size: 24px;
    border-bottom: 3px solid #000;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.green-font {
    color: #73D13D;
}

.red-font {
    color: #FF4D4F;
}

.gray-font {
    color: #939395;
}

.info p,
.task p {
    margin: 10px 0;
    font-size: 16px;
}

.status {
    color: green;
    font-weight: bold;
}

.copyable {
    cursor: pointer;
    color: #2196F3;
}

.task-header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.task-body {
    margin-left: 20px;
}

/* Toggle Switch */
.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
    margin-top: 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:checked+.slider:before {
    transform: translateX(14px);
}