<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{resources_path}}/templates/instance_list.css"">
</head>

<body>
    <div class=" card">
    <div class="card-body">
        <table>
            <thead>
                <tr>
                    <th>序号</th>
                    <th>名称</th>
                    <th>创建时间</th>
                    <th>启动时间</th>
                    <th>自动重启</th>
                    <th>开机自启</th>
                    <th>实例状态</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    </div>
    </body>

</html>