body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
}

.card {
    background: rgba(255, 255, 255, 0.85);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
}

.card-body {
    padding: 20px;
}

.gray-font {
    color: #939395;
}

.green-font {
    color: #73D13D;
}

.red-font {
    color: #FF4D4F;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 24px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:checked+.slider:before {
    transform: translateX(26px);
}


table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 15px;
    text-align: left;

}

th {
    background: rgba(0, 0, 0, 0.1);
    font-weight: bold;
}


td {
    border-bottom: 1px solid #ddd;
}

td img {
    vertical-align: middle;
}

tr:hover {
    background: rgba(0, 0, 0, 0.05);
}