<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>节点状态总览</title>
    <link rel="stylesheet" href="node_list.css">
</head>

<body>
    <div class="card">
        <div class="card-body">
            <table>
                <thead>
                    <tr>
                        <th>IP 地址</th>
                        <th>昵称</th>
                        <th>CPU</th>
                        <th>内存</th>
                        <th>运行实例</th>
                        <th>远程节点版本</th>
                        <th>连接状态</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>localhost:13952</td>
                        <td>5950X</td>
                        <td>1.8%</td>
                        <td>2.9G/15.6G</td>
                        <td>10/13</td>
                        <td>4.4.1</td>
                        <td>在线</td>
                    </tr>
                    <tr>
                        <td>110.41.142.237:24444</td>
                        <td>华为云</td>
                        <td>0.5%</td>
                        <td>0.4G/1.7G</td>
                        <td>0/0</td>
                        <td>4.4.1</td>
                        <td>在线</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>